<!DOCTYPE html>
<html>
<head>
  <title>CineShelf</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a> | <a href="/movies">Movies</a> | <a href="/favorites">Favorites</a> | <a href="/profile">Profile</a> | <a href="/about">About</a>
  </nav>

  <header>
    <h1>CineShelf</h1>
    <p>Browse, organize, and explore your favorite films</p>
  </header>

  <section>
    <h2>Team Members [SE-2426]</h2>
    <ul>
      <li>Akbope B.</li>
      <li>Danelya B.</li>
      <li>Oryngul M.</li>
      <li>Aigerim K.</li>
    </ul>
  </section>

  <section>
    <h2>Planned Features</h2>
    <ul>
      <li>Search movies by title, genre, or year</li>
      <li>Add movies to personal favorites</li>
      <li>View movie details and ratings</li>
      <li>Sort movies by release date or popularity</li>
    </ul>
  </section>

  <section style="text-align:center; margin-top:30px;">
    <a href="/movies" class="details-btn">Go to Movies</a>
  </section>

</body>
</html>
