<!DOCTYPE html>
<html>
<head>
  <title>CineShelf</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
      <a href="/">Home</a> | <a href="/movies">Movies</a> |
      <a href="/profile">Profile</a> | <a href="/favorites">Favorites</a>
 </nav>

  <header>
    <h1>CineShelf</h1>
    <p>Browse, organize, and explore your favorite films</p>
  </header>


  <section style="text-align:center; margin-top:30px;">
    <a href="/movies" class="details-btn">Go to Movies</a>
  </section>
  <nav>
    <a href="/about">About</a> | <a href="/contact">Contacts</a>
  </nav>

</body>
</html>
