<!DOCTYPE html>
<html>
<head>
  <title>Message Sent | CineShelf</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a> | <a href="/movies">Movies</a> |
  <a href="/profile">Profile</a> | <a href="/favorites">Favorites</a>
</nav>

<header>
  <h1>Thank You!</h1>
  <p>Your message has been successfully sent!</p>
</header>

<section style="text-align:center;">
  <p>We appreciate you reaching out. We’ll get back to you if needed</p>
  <a href="/" class="details-btn">Back to Home</a>
</section>
  <nav>
    <a href="/about">About</a> | <a href="/contact">Contacts</a>
  </nav>
</body>
</html>
