<!DOCTYPE html>
<html>
<head>
  <title>CineShelf - All Movies</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
      <a href="/">Home</a> | <a href="/movies">Movies</a> |
  <a href="/profile">Profile</a> | <a href="/favorites">Favorites</a>
  </nav>

  <header class="hero">
    <h2>All Movies</h2>
    <p>Browse our current movie library</p>
  </header>

  <form action="/search" method="GET">
  <input type="text" name="q" placeholder="Search movies">
  <button type="submit">Search</button>
</form>


  <section class="movie-list">
    <div class="movie-card">
      <img src="https://m.media-amazon.com/images/S/pv-target-images/cc72ff2193c0f7a85322aee988d6fe1ae2cd9f8800b6ff6e8462790fe2aacaf3.jpg" alt="Inception">
      <h3>Inception (2010)</h3>
      <p>Sci-Fi, Thriller</p>
      <a href="/item/1" class="details-btn">View Details</a>
      
    </div>

    <div class="movie-card">
      <img src="https://m.media-amazon.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@._V1_FMjpg_UX1000_.jpg" alt="The Dark Knight">
      <h3>The Dark Knight (2008)</h3>
      <p>Action, Crime</p>
      <a href="/item/2" class="details-btn">View Details</a>
    </div>

    <div class="movie-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjVVnQ75q58BDHASnOCQfC6gXLgmPnKADZw7rb2VxDqDE4e65rhkZRtVDg0Z80uqXgEjPwHQZEzXm0gmClFhXnf7Fvq_-aQg5z0cdAiQ&s=10" alt="Interstellar">
      <h3>Interstellar (2014)</h3>
      <p>Sci-Fi, Adventure</p>
      <a href="/item/3" class="details-btn">View Details</a>
    </div>

    <div class="movie-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAglsvsD3oBY6y0TvQLl8iZaiWorCI3mz3ctarHlekveTVKTX7yYtBKGsJmJYRkPFVszLvPVN8R9dMhBcK-GNNi7gkgSG5h_Q54E25Bw&s=10" alt="Parasite">
      <h3>Parasite (2019)</h3>
      <p>Thriller, Drama</p>
      <a href="/item/4" class="details-btn">View Details</a>
    </div>

    <div class="movie-card">
      <img src="https://m.media-amazon.com/images/M/MV5BNTRhY2Q5ODAtOTUzZS00YzBjLTg3MGEtYjJlODUyMmNhMzRlXkEyXkFqcGc@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="Avengers: Endgame">
      <h3>Avengers: Endgame (2019)</h3>
      <p>Action, Adventure</p>
      <a href="/item/5" class="details-btn">View Details</a>
    </div>
  </section>
  <nav>
    <a href="/about">About</a> | <a href="/contact">Contacts</a>
  </nav>
</body>
</html>
